<%- include('header') -%>
</body>
<footer class="bg-dark"> <p>Copyright &copy; Kidron Paras 2020</p>
<div class="icons">
<a href="https://www.instagram.com/kidron_paras/"><i class="fab fa-instagram"></i></a>
<a href="https://www.facebook.com/Increase.Christ" target="_blank"><i class="fab fa-facebook-f"></i></a>
<a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a>
<a href="https://www.linkedin.com/in/kidron-paras-26a2141ab/" target="_blank"><i class="fab fa-linkedin"></i></a>
</div>
</footer>
<script src="/js/index.js"></script>
</html>